<% if @photos.any? %>
    <% @photos.each do |photo| %>
        <h2> <%= photo.caption %> </h2>
        <em> <%= time_ago_in_words(photo.created_at)%> ago </em>
        <ul>
	        <% photo.comments.each do |comment|%> 
				<li> <%= "#{comment.thoughts}" %> <em> <%= time_ago_in_words(comment.created_at)%> ago </em>  
                <%= link_to 'Like', comment_likes_path(comment), class: 'likes-link' %>
                <span class='likes_count'>
                    <%= comment.likes.count %>
                </span>
                Like
                </li>
			<%end%>
		</ul>
        <%= link_to "Edit #{photo.caption}",edit_photo_path(photo) %>
        <%= link_to "Delete #{photo.caption}",photo_path(photo), method: :delete %>
        <%= link_to "Show #{photo.caption}",photo_path(photo)%>
        <%= link_to "Comment on #{photo.caption}",new_photo_comment_path(photo)%>
    <% end %>
<% else %>
    No photos yet
<% end %>

<%=link_to "Add a photo", new_photo_path %>