<% if @photos.any? %>
    <% @photos.each do |photo| %>
        <section class="row">
            <div class="column">
            <h2> <%= photo.caption %> </h2>
            <h2> <%= image_tag photo.image.url(:thumb) %> </h2>
                <em> posted <%= time_ago_in_words(photo.created_at)%> ago </em>
                <p>
                <i>
                <%= link_to 'Paw it !', photo_paws_path(photo), class: 'paws-link' %>
                <span class='paws_count'>
                            <%= photo.paws.count %>
                </span>
                <i class="fa fa-paw"></i> 
                </p>
                <ul>
                <%= link_to "",edit_photo_path(photo), class: "glyphicon glyphicon-pencil" %>
                <%= link_to "",photo_path(photo),class: "glyphicon glyphicon-remove-circle", method: :delete %>
                <% photo.comments.each do |comment|%> 
                    <p> <%= "#{comment.thoughts}" %> <em> <%= time_ago_in_words(comment.created_at)%> ago </em>  
                    <%= link_to '', comment_likes_path(comment), class: 'likes-link glyphicon glyphicon-thumbs-up' %>
                    <span class='likes_count'>
                        <%= comment.likes.count %>
                    </span>
                    likes
                    </p>
                <%end%>
                <%= link_to "Comment",new_photo_comment_path(photo)%>
                </ul>
        </section>
        </div>
    <% end %>
<% else %>
    No photos yet
<% end %>

<%=link_to "Add a photo", new_photo_path %>