<% if @photos.any? %>
    <% @photos.each do |photo| %>
        <section class="row">
            <div class=".col-md-4 .col-md-offset-6">
            <h2> <%= photo.caption %> </h2>
            <h2> <%= image_tag photo.image.url(:thumb) %> </h2>
            </div>
                <em> <%= time_ago_in_words(photo.created_at)%> ago </em>
                <li>
                <%= link_to 'Paw it', photo_paws_path(photo), class: 'paws-link' %>
                <span class='paws_count'>
                            <%= photo.paws.count %>
                </span>
                paws
                </li>
                <ul>
                <%= link_to "Edit",edit_photo_path(photo) %>
                <%= link_to "Delete",photo_path(photo), method: :delete %>
                <%= link_to "Show",photo_path(photo)%>
                    <% photo.comments.each do |comment|%> 
                        <li> <%= "#{comment.thoughts}" %> <em> <%= time_ago_in_words(comment.created_at)%> ago </em>  
                        <%= link_to 'Like', comment_likes_path(comment), class: 'likes-link' %>
                        <span class='likes_count'>
                            <%= comment.likes.count %>
                        </span>
                        Like
                        </li>
                    <%end%>
                <%= link_to "Add comment",new_photo_comment_path(photo)%>
                </ul>
        </section>
    <% end %>
<% else %>
    No photos yet
<% end %>

<%=link_to "Add a photo", new_photo_path %>