<!DOCTYPE html>
<html>
<head>
  <title>Instabear</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>

<% if user_signed_in? %>
	<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<%else%>
	<%= link_to "Sign in", user_session_path, method: :post %>
	<%= link_to "Sign up",
		new_user_session_path %>
<%end%>
<%= notice %>
<section class="container">
	<section class="subcontainer">
		<%= yield %>
	</section>
</section>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
